<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Priority</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  {{#each tasks}}
    <tr>
      <td>{{this.taskId}}</td>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.category}}</td> 
      <td>{{this.priority}}</td>
      <td>{{this.dueDate}}</td>
      <td>{{this.status}}</td>
      <td>
            <a href='/add-task/{{userId}}/{{taskId}}'>Edit Task</a>
    <!-- Delete Form with Confirmation -->
    <form action="/tasks/tasks/{{userId}}/{{taskId}}" method="POST" style="display:inline;" onsubmit="return confirmDelete();">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" style="color: red; cursor: pointer;">Delete Task</button>
    </form>
      </td>
    </tr>
  {{/each}}
</table>
