<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Priority</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>Update</th>
    <th>Actions</th>
  </tr>
  {{#each tasks}}
    <tr>
      <td>{{this.taskId}}</td>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.category}}</td> 
      <td>{{this.priority}}</td>
      <td>{{this.dueDate}}</td>
      <td>{{this.status}}</td>
      <td>
      <a href='/add-task/{{userId}}/{{taskId}}'>Edit</a>
      </td>
      <td>
    <form action="/tasks/tasks/{{userId}}/{{taskId}}" method="POST" onsubmit="return confirmDelete();">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Delete</button>
    </form>

    <form action="/tasks/tasks/{{userId}}/{{taskId}}" method="POST" onsubmit="return confirmComplete();">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="status" value="Completed">
      <button type="submit">Complete</button>
    </form>

    <form action="/tasks/tasks/{{userId}}/{{taskId}}" method="POST" onsubmit="return confirmCancel();">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="status" value="Cancelled">
      <button type="submit">Cancel</button>
    </form>
      </td>
    </tr>
  {{/each}}
</table>
