<h1>Welcome, {{user.username}}!</h1>
<a href='/add-task/{{userId}}'>Add New Task</a>
<form class="navbar" method="GET" action="/home/{{userId}}">
  <label>Sort by:</label>
  <select name="sort">
    <option value="">All</option>
    <option value="priority">Priority</option>
    <option value="dueDate">Due Date</option>
  </select>

  <label>Filter by Status:</label>
  <select name="status">
    <option value="">All</option>
    <option value="Pending">Pending</option>
    <option value="Completed">Completed</option>
    <option value="Cancelled">Cancelled</option>
  </select>

  <label>Filter by Due Date:</label>
  <select name="dueDate">
    <option value="">All</option>
    <option value="pastDue">Past Due</option>
    <option value="lateCompletion">Late Completion</option>
  </select>

  <label>Search:</label>
  <input type="text" name="search" value="{{search}}">
  <span> 
    <button type="submit">Apply</button>
  <button type="button" onclick="window.location='/home/{{userId}}'">Reset Filters</button>
  </span>
</form>

{{> tasksTable}}

<footer>
    <form action="/user/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
</footer>


<script src="/js/confirmation.js"></script>
